/* ----------------- Main site styles ----------------- */

$savjeeDark: #423e45;
$savjeeRed: #e50b18;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 17px;
  // background-color: #F5F8FA;
}

header {
  // background-color: #fff;

  .container {
    max-width: 1140px;
  }

  .navwrapper {
    display: table;
    min-height: 85px;
    height: 85px;
    width: 100%;
  }

  .logo,
  .navigation {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }

  img {
    max-height: 55px;
  }

  nav {
    text-align: right;

    ul {
      list-style: none;

      li {
        display: inline-block;

        a {
          padding: 5px 20px;
          text-transform: uppercase;
          color: $savjeeDark;
          position: relative;
          font-size: 14px;
          font-weight: bold;

          &:after {
            transition: width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
            content: '';
            position: absolute;
            bottom: 0;
            left: 20px;
            width: 0px;
            height: 2px;
            background-color: $savjeeDark;
          }

          &.active:after,
          &:hover:after {
            width: 13px;
          }
        }
      }
    }
  }

  //   background-color: #f8f8f8;

  //   .avatar {
  //     float: right;
  //   }

  //   .site-title {
  //     margin-top: 22px;
  //     font-size: 16px;

  //     a {
  //       color: #565656;
  //       text-decoration: none;
  //     }
  //   }

  //   nav ul {
  //     list-style: none;
  //     margin: 0;
  //     padding: 0;

  //     li {
  //       display: inline-block;
  //       margin: 2px 10px 0 0;
  //       position: relative;

  //       a {
  //         color: #888888;
  //         font-size: 14px;

  //         &:hover{
  //             &:before{
  //                 width: 100%;
  //             }
  //         }

  //         &:before {
  //           content: '';
  //           position: absolute;
  //           display:block;
  //         //   width: 100%;
  //             width: 0;
  //           height: 2px;
  //           bottom: 0;
  //         //   padding: 0 0.2em;
  //         //   left: -0.2em;
  //           z-index: 1;
  //           background-color: #E80000;
  //         //   visibility: hidden;
  //         //   transform: scaleX(100%);
  //           transition: all 300ms cubic-bezier(0.325, -0.075, 0, 1.65);
  //         }
  //       }
  //     }
  //   }

  //   .clear {
  //     clear: both;
  //   }
}

// .row{
//   display: table;
//   width: 100%;

//   .col-50{
//     display: table-cell;
//     width: 49%;
//     padding: 15px;

//     &:first-child{
//       padding-left: 0;
//     }

//     &:last-child{
//       padding-right: 0;
//     }
//   }
// }

.card {
  background-color: #fff;
  padding: 30px;
  margin: 50px 0;

  &.video {
    padding: 0;
    position: relative;

    img {
      max-width: 100%;
    }
  }
}

.home {
  display: table;
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 30px 0 100px 0;
  background-color: #eee;

  .blog-posts,
  .videos {
    display: table-cell;
    margin: 0;
    padding: 0;
  }

  .blog-posts {
    width: 50%;
    padding-right: 10px;
    border-right: solid 1px #eee;
  }

  .videos {
    padding-left: 10px;
    width: 50%;

    iframe {
      width: 100%;
      min-height: 250px;
    }
  }
}

.videoDetailsPage {
  .dark-backdrop {
    background-color: $savjeeDark;
    padding: 30px 0;
  }

  .arrow{
    width: 30px;
    height: 30px;
    border-right: 0.2em solid #6C6871;
    border-top: 0.2em solid #6C6871;
    transform: rotate(45deg);
    position:absolute;
    transition: border 0.3s;

    &:hover{
      border-color: #fff;
      cursor:pointer;
    }

    &.next{
      right: -45px;
      top: 45%;
    }

    &.previous{
      transform: rotate(-135deg);
      left: -45px;
      top: 45%;
    }
  }


  .videowrapper {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
  }

  .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .videosidebar{
    text-align:right;
    padding-left: 100px;

    div{
      padding: 10px 0;
      border-bottom: solid 1px #eee;

      b{
        color: #bbb;
      }
    }
  }

  // a{
  //   position: relative;
  //   padding-bottom: 6px;

  //   &:after {
  //     transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  //     content: '';
  //     position: absolute;
  //     bottom: 0;
  //     left: 0px;
  //     width: 0px;
  //     height: 1px;
  //     background-color: $savjeeDark;
  //   }

  //   &.active:after,
  //   &:hover:after {
  //     width: 100%;
  //   }
  // }
}

.container {
  max-width: 1140px;
  // max-width: 720px;
  // padding: 20px;
  margin: 0 auto;
  // position: relative;

  &.single {
    padding-top: 0;
  }

  &.small{
    max-width: 720px;
  }
}

.post{

  h1.post-title{
    margin-bottom:0;
  }
  .metadata{
    position: relative;
    text-align:center;
    margin-bottom: 50px;
    font-style: italic;
    font-size: 12px;

    span{
      display: inline-block;
      margin: 0 auto;
      background-color: #fff;
      width: 40%;
      z-index: 5;
    }

    &:after{
      z-index:-1;
      content: '';
      display:block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      margin-top: -1px;
      background-color: #ccc
    }
  }
}

h1.title, h1.title a{
  font-family: 'Playfair Display', serif;
  color: #404040;
  font-size: 50px;
  font-weight: 700
}

pre,
code {
  overflow-x: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

pre,
p code,
li code {
  background-color: #f8f8f8;
  border: solid 1px #d1d1d1;
}

figure {
  margin: 0;
}

pre {
  padding: 1em;
  font-size: 0.8em;
  line-height: 1.5;
}

p code,
li code {
  font-size: 1em;
  padding: 2px 5px;
  margin: 0 2px;
}

article {
  letter-spacing: 0.5px;
  margin: 0 0 35px;
  font-weight: 400;
  line-height: 34px;

  img {
    display: block;
    //   margin-left: auto;
    //   margin-right: auto;
      max-width: 100%;

    // width: calc(100% + 100px);
    // margin-left: -50px;
  }

  img + em {
    font-size: 0.8em;
    text-align: center;
    display: block;
  }

  p {
    color: #575757;
  }

  .post-description {
    h1 {
      font-size: 1.5em; // make it look like an H2
      margin-bottom: -0.5em;
      margin-top: 2em;
    }

    h2 {
      font-size: 1.17em; // make it look like an H3
      margin-bottom: -0.5em;
      margin-top: 2em;
    }

    a {
      text-decoration: underline;
    }
  }

  h1 a, h1 {
    font-family: 'Playfair Display', serif;
    color: #404040;
    font-size: 1.4em;
    font-weight: 700;
  }
}

a {
  // color: #007998;
  // -webkit-transition: color 0.25s ease-in-out;
  // -moz-transition: color 0.25s ease-in-out;
  // -o-transition: color 0.25s ease-in-out;
  // -ms-transition: color 0.25s ease-in-out;
  // transition: color 0.25s ease-in-out;
  text-decoration: none;

  // &:hover {
  //   color: rgba(0, 121, 152, 0.5);
  // }
}

hr {
  border: none;
  border-top: solid 1px #eee;
  // padding: 20px 0;
  margin-top: 20px;
  padding: 0 0 20px 0;
}

h1.post-title {
  font-family: 'Raleway Black', sans-serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 50px;
  text-align:center;
  padding: 20px 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0;
  padding: 20px;

  p {
    display: inline;
  }
}

footer {
  margin: 30px 0;

  p {
    text-align: center;
    font-size: 0.7em;
    line-height: 10px;
  }

  p,
  a {
    color: #959595;
  }
}

@media (max-width: 767px) {
  header {
    padding: 0;
    text-align: center;
  }

  header .avatar {
    float: none;
  }

  header .site-title {
    float: none;
    width: auto;
  }
}

.mailmunch-scrollbox {
  width: 320px !important;
}
