@import 'savjee.colors';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

a{
  color: #000;
  text-decoration: underline;
  transition: text-decoration 0.4s;

  &:visited{
    color: #000;
  }

  &:hover{
    text-decoration: none;
  }
}

h1{
  font-size: 30px;
  font-weight: 800;
  line-height: 50px;
  padding: 50px 0 0 0;
  margin:0;

  // If it's the title of a page
  &.title{
    font-family: 'Raleway Black', sans-serif;
    text-align:center;
    font-size: 55px;
    line-height: 65px;
  }

  // Links inside a H1 should not be underlined
  a{
    text-decoration: none;
  }
}

.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card h1{
  // The card has padding already
  padding-top:0;
}

article{
  h1{
    font-size: 30px;
  }

  h2{
    font-size: 25px;
  }

  h3{
    font-size: 20px;
  }
}

.home{
  background-color: #eee;

  // Cards on the homepage should fill the entire height of the row!
  // .col-md-7{
  //   .card{
  //     position:absolute;
  //     top:0;
  //     right:0;
  //     bottom:0;
  //     left:0;
  //   }
  // }

}

.card {
  background-color: #fff;
  padding: 30px;
  margin: 50px 0;

  &.video {
    padding: 0;
    position: relative;

    img {
      max-width: 100%;
    }
  }
}


.videoDetailsPage {
  .dark-backdrop {
    background-color: $savjeeDark;
    padding: 30px 0;
  }

  .arrow{
    width: 30px;
    height: 30px;
    border-right: 0.2em solid #6C6871;
    border-top: 0.2em solid #6C6871;
    transform: rotate(45deg);
    position:absolute;
    transition: border 0.3s;

    &:hover{
      border-color: #fff;
      cursor:pointer;
    }

    &.next{
      right: -45px;
      top: 45%;
    }

    &.previous{
      transform: rotate(-135deg);
      left: -45px;
      top: 45%;
    }
  }


  .videowrapper {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
  }

  .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .videosidebar{
    text-align:right;
    padding-left: 100px;

    div{
      padding: 10px 0;
      border-bottom: solid 1px #eee;

      b{
        color: #bbb;
      }
    }
  }
}

.container {
  max-width: 1140px;
  // max-width: 720px;
  // padding: 20px;
  margin: 0 auto;
  // position: relative;

  &.single {
    padding-top: 0;
  }

  &.small{
    max-width: 720px;
  }
}

  .metadata{
    position: relative;
    text-align:center;
    margin-bottom: 50px;
    font-style: italic;
    font-size: 12px;

    span{
      display: inline-block;
      margin: 0 auto;
      background-color: #fff;
      width: 40%;
      z-index: 5;
    }

    &:after{
      z-index:-1;
      content: '';
      display:block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      margin-top: -1px;
      background-color: #ccc
    }
  }

a.videoLink{
  text-decoration: none !important;
  color: #000;
  font-size: 15px;
}

.text-right{
  text-align:right;
}

.text-center{
  text-align:center;
}

.showMore{
  p{
    text-align:center;
    font-style: italic;
    font-size: 12px;

    &:hover{
      cursor: pointer;
    }
}
  div{
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;

    &.expanded{
      display: block;
      max-height: 200px;
    }
  }
}

.share-buttons-new{
  img{
    opacity:0.3;
    transition: opacity 0.3s;

    &:hover{
      opacity: 0.6;
      cursor:pointer;
    }
  }
}

figure {
  margin: 0;
}

article {
  letter-spacing: 0.5px;
  margin: 0 0 35px;
  font-weight: 400;
  line-height: 34px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  img + em {
    font-size: 0.8em;
    text-align: center;
    display: block;
  }

  p {
    color: #575757;
  }
}

hr {
  border: none;
  border-top: solid 1px #eee;
  margin-top: 20px;
  padding: 0 0 20px 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0;
  padding: 20px;

  p {
    display: inline;
  }
}

footer {
  margin: 30px 0;

  p {
    text-align: center;
    font-size: 0.7em;
    line-height: 10px;
  }

  p,
  a {
    color: #959595;
  }
}

@media (max-width: 767px) {
  header {
    padding: 0;
    text-align: center;
  }

  header .avatar {
    float: none;
  }

  header .site-title {
    float: none;
    width: auto;
  }
}

.mailmunch-scrollbox {
  width: 320px !important;
}
