---
layout: default
---

<div class="container small">
    <article class='post'>
        <h1 class='title'>
            <span>{{ page.title }}</span>
        </h1>

        <div class="metadata" style="">
            <span>Posted on <time class='date' datetime='{{ page.date | date: "%Y-%m-%dT00:00:00+01:00" }}'>{{ page.date | date_to_string }}</time></span>
        </div>

        <div class='post-description'>
            {{ content }}
        </div>
    </article>


    {% include share-buttons.html %}

    {% include disqus-comments.html %}
</div>