---
layout: default
---
{% assign serieData = site.data.videos.series[page.series] %}
{% assign videosInThisSerie = site.videos | where_exp:'vid','vid.series == page.series' | sort: 'order' %}
{% assign tmp = page.order | minus: 2 %}

<div class="videoDetailsPage">
    <div class="dark-backdrop">
        <div class="container">
            <div class="videowrapper">
                {% if page.order != 1 %}
                    <a href="{{videosInThisSerie[tmp].url}}">
                        <div class="arrow previous"></div>
                    </a>
                {% endif %}
                <iframe src="https://www.youtube.com/embed/{{page.videoId}}?list={{serieData.playlistId}}&showinfo=0" frameborder="0" allowfullscreen></iframe>

                {% if page.order >= 1 and page.order < videosInThisSerie.size %}

                            <a href="{{videosInThisSerie[page.order].url}}">
                                    <div class="arrow next"></div>
                            </a>
                    {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <article>
            <div class="row">
                <div class="col-md-8">
                    <h1>{{ page.title }}</h1>
                    <article class="page-content">
                        {{ content }}
                    </article>
                </div>

                <div class="col-md-4 videosidebar">
                    <h1 class="title"></h1>

                    <div>
                        <b>UPLOADED</b><br>
                        {{page.uploadDate}}
                    </div>

                    <div class="share-buttons-new">
                        <b>SHARE</b>
                        <p style="margin:0;">
                        <img src="/assets/img/social/facebook.svg" style="width:16px; display:inline-block; margin-left: 5px;">
                        <img src="/assets/img/social/twitter.svg" style="width:16px; display:inline-block; margin-left: 5px;">
                        <img src="/assets/img/social/reddit.svg"  style="width:16px; display:inline-block; margin-left: 5px;">
                        <img src="/assets/img/social/linkedin.svg" style="width:16px; display:inline-block; margin-left: 5px;">
                        </p>
                    </div>
                </div>
            </div>
        </article>

            <!-- {% include youtube-subscribebutton.html %} {% include disqus-comments.html %} -->
    </div>
</div>





<!-- *********** Structured data for Google *********** -->
<script type="application/ld+json">
[
	{
        "@context": "http://schema.org/",
        "@type": "VideoObject",
        "name": "{{ page.title }}",
        "description": "{{ content | strip_html | truncatewords: 40 }}",
        "thumbnailURL": "http://i.ytimg.com/vi/{{page.videoId}}/hqdefault.jpg",
        "UploadDate": "{% if page.uploadDate %}{{page.uploadDate}}{% else %}2017-06-23{% endif %}",
        "embedUrl": "https://www.youtube.com/embed/{{page.videoId}}"
    }
]
</script>